@* trails Template File *@
@()(implicit assetsFinder: AssetsFinder)


<!DOCTYPE html>
<html>
    <head>
        <title> SignUp to BugTracker </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      	<link rel="stylesheet" href="@assetsFinder.path("stylesheets/utils/homePagestyle.css")" type ="text/css">
      	
	<link rel="apple-touch-icon" sizes="180x180" href="@assetsFinder.path("/images/title images/apple-touch-icon.png")">
	<link rel="icon" type="image/png" sizes="32x32" href="@assetsFinder.path("/images/title images/favicon-32x32.png")">
	<link rel="icon" type="image/png" sizes="16x16" href="@assetsFinder.path("/images/title images/favicon-16x16.png")">
	<link rel="manifest" href="@assetsFinder.path("/images/title images/site.webmanifest")">

    </head>
    <body onload="showText()">
	  <nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="@routes.HomeController.index">
	  	<img src="@assetsFinder.path("/images/images.jpeg")" width="40" height="40" class="d-inline-block align-top" alt=""/>
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="@routes.HomeController.index">Home <span class="sr-only">(current)</span></a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" href="@routes.meetTheTeam.documentation">Documentation</a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" href="@routes.meetTheTeam.showTeamPage">Meet the Team</a>
	      </li>
	     
	    </ul>
	    
	  </div>
	</nav>






	   	<div class="jumbotron">   			
				<h1 class="display-4" id ="headerText"></h1>
				<p class="lead">BugTracker provides you with a simple solution for your enterprise to track and mark all the bugs that developers encounter. This makes way for easier communication between different teams, resulting in hassle free and easier bug removal process</p>
				<hr class="my-4">
				<p class="logSignup">Sign up/Log in up if your organization already uses BugTracker. If not, then it takes only 3 steps to setup. </p>
				<p class="lead">


				   <div class="text-center">
				   
				   <a href = "@routes.signUp.sendSignupSetupPage">					
				   	<button class="btn btn-outline-secondary btn-lg">Setup</button>
				   	</a>
				   	
				   	
				   	
				   	<a href = "@routes.login.loginPage">	
				   	<button class="btn btn-outline-secondary btn-lg">Login</button>
				   	</a>				   
				   
				   
				   	
				   
				   </div>
				</p>
				
			
		</div>


		<section id="testimonials">
			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  			<div class="carousel-inner">
   				<div class="carousel-item active">
					<h2>"Absolute delight to work with Bugtracker, was able to quicly solve all the bus"</h2>
					<h3>-Sam Smith</h3>
				</div>
				<div class="carousel-item">
					<h2>"It is better than putting up all the bugs on a public forum."</h2>
					<h3>-Mike Tyson</h3>
				</div>	
				<div class="carousel-item">
					<h2>"Quick and simple mechanism to post and solve bugs"</h2>
					<h3>-Thanos Stark</h3>
				</div>	

			</div>
			</div>
		</section>
		
		


		<footer>
			Copyright © Bug Tracker. All Rights Reserved | Contact Us: +91 123456789
		</footer>
	</body>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		
	    <script type="text/javascript" src="@assetsFinder.path("js/homePage.js")"> </script> 
	    
		
		
	   
	     
         
</html>
