@* trails Template File *@
@(qsNo: Int, bookname:String,pageTarget: String)(implicit request: RequestHeader, assetsFinder: AssetsFinder)
@import helper._



<!DOCTYPE html>
<html lang="en">
<head>
<title>Login Form</title>
	<link rel="stylesheet" media="screen" type="text/css" href="@assetsFinder.path("stylesheets/utils/trial.css")">
	
</head>
<body>
<h1>Its working</h1>

	
  	<form action = "@routes.HomeController.upload" method ="POST" enctype="multipart/form-data">
  	@helper.CSRF.formField
    <input type="file" name="picture">
    
    <p>
        <input type="submit">
    </p>
    </form>
    
   
    
  	<form action = "@routes.answerQuery.answerThequestion" method ="POST" enctype="multipart/form-data">
  	@helper.CSRF.formField
    	
		<textarea name = "answer"></textarea>
		<br>
		<input type="file" name="picture">
		<input type="number" name="qsNo" value="@qsNo">
		<ul>
		@for(target<-pageTarget){
				
		}
		</ul>
		<input type="text" name="bookname" value="@bookname">
		<input type="text" name="bookname" value="@pageTarget">
		<input type="submit">
	</form>
    
   
    


</html>

	

